body {
    margin-top: 100px;
    /* margin-bottom: 100px; */
    /* color: #6a6f8c;
    background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;
    font: 600 16px/18px 'Open Sans', sans-serif */
    background: 'white' no-repeat cover;
    width: 100%;
}

